<div class="container-fluid mt-3 mb-3 pt-3 fullabout">
    <p class="abouthead">From the team :</p>
    <p class="abouttext">"EWAC was made so that there can be a bridge between the communities or the people who want to spread information and the audience that they are
        catering. Often we find that we are not able to information or notification of events etc at the right time, and sometimes not able to get it
        at all due to inaccessibility or poor User Interface or cluttering in the website etc. We wish to provide a user friendly, mobile compatible platform
        that can effectively connect the societies or communities and the people who are part of them to create a way to easily and effectively
        communicate between them. Hence , promoting more participation in educational activities. Also progressively developing the site to keep it adaptable .
        We aim to reduce the third party in influence in building websites and alongside provide an easy platform for communities or socities to register
        and spread information efictively. We sincerely hope that you enjoy our product."</p>
    <div class="container d-flex namelist mt-4 pt-4">
        <p class="name">Tanuj</p>
        <ul class="footlinks float-center" style="padding: 0px;">
            <li>
                <a href="" class="gitlink" target="_blank"><i class="fab fa-github" style="color: darkgray;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="googlelink" target="_blank"><i class="fab fa-google-plus-g" style="color: red;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="fblink" target="_blank"><i class="fab fa-facebook" style="color: #3b5998;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="lilink" target="_blank"><i class="fab fa-linkedin-in" style="color: darkblue;" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <div class="container d-flex">
        <p class="name">Rohan Wadhawan</p>
        <ul class="footlinks float-center" style="padding: 0px;">
            <li>
                <a href="" class="gitlink" target="_blank"><i class="fab fa-github" style="color: darkgray;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="googlelink" target="_blank"><i class="fab fa-google-plus-g" style="color: red;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="fblink" target="_blank"><i class="fab fa-facebook" style="color: #3b5998;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="lilink" target="_blank"><i class="fab fa-linkedin-in" style="color: darkblue;" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <div class="container d-flex">
        <p class="name">Arjun Dhawan</p>
        <ul class="footlinks float-center" style="padding: 0px;">
            <li>
                <a href="" class="gitlink" target="_blank"><i class="fab fa-github" style="color: darkgray;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="googlelink" target="_blank"><i class="fab fa-google-plus-g" style="color: red;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="fblink" target="_blank"><i class="fab fa-facebook" style="color: #3b5998;" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="" class="lilink" target="_blank"><i class="fab fa-linkedin-in" style="color: darkblue;" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>
