<div class="container-fluid text-center">
  <h2>Upcoming Events</h2>
</div>
<!--
<form class="form-inline" [formGroup]="inputForm" (submit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-success':inputIsValid,'has-danger':!inputIsValid}">
      <label for="inputSuccess1"></label>
      <input type="text" class="form-control" id="inputSuccess1" placeholder="Society Name/Hashtags" formControlName="input">
      <p class="help-block" *ngIf="inputForm.get('input').touched && !inputIsValid">
        This field cannot be left empty
      </p>
    </div>
    <button type="submit" name="button">Filter</button>
  </form> -->

<div class="container allcards text-center">
  <app-events class="listofcards" *ngFor="let event of events" [event]="event"></app-events>
</div>
<!-- </div>

<div *ngIf="!specific">
  <app-events *ngFor="let event of creates" [event]="event"></app-events>
  <p>hello</p>
</div> -->
