<div class="container-fluid">
  <div class="row ">
  <div class="col-xs-12">
    <div *ngIf="!fired; else elsePart">
      <h2>Signin</h2>
        <form method="get">
          <div class="form-group" >

            <div class="col-md-6" (click)="onSelect(false)">
                <i class="fas fa-user"></i>
            </div>

            <div class="col-md-6" (click)="onSelect(true)">
                <i class="fas fa-users"></i>
            </div>
          </div>

        </form>
    </div>
    </div>
    <ng-template #elsePart>
      <div class="col-xs-12" >
        <router-outlet></router-outlet>
        <div class="container">
          <button class="btn btn-primary" type="button" (click)="goBack()">Back</button>
        </div>
      </div>
    </ng-template>
  </div>
