<div class="container-fluid">
  <div class="container-fluid">
    <div class="container-fluid">
      <div *ngIf="!toggle.stateIn(); else elsePart" class="container-fluid text-center mt-4 mb-4">
        <p class="display-4" style="font-family: 'Quicksand', sans-serif; font-weight:bold;">Sign In</p>
        <form method="get">
          <div class="form-group mt-4 pt-4 text-center loginbuttons">

            <div class="col-md-6" (click)="onSelect(false)">
              <i class="fas fa-user"></i>
            </div>

            <div class="col-md-6" (click)="onSelect(true)">
              <i class="fas fa-users"></i>
            </div>
          </div>

        </form>
      </div>
    </div>
    <ng-template #elsePart>
      <div class="col-xs-12">
        <router-outlet></router-outlet>
        <!-- <div class="container">
          <button class="btn btn-primary" type="button" (click)="goBack()">Back</button>
        </div> -->
      </div>
    </ng-template>
  </div>
