
  <nav class="navbar fixed-top navbar-expand-md navbar-toggleable-md navbar-light">
      <a class="navbar-brand" [routerLink]="['/']" style="margin-left: 5px; padding: 0px;">
          <img src="../../../ewac.png" class="img-fluid" alt="Responsive image">
      </a>
      <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <div class="container-fluid">

                  <div *ngIf="authService.object() === 'society'">
                    <ul class="navbar-nav mainMenu justify-content-left">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/show','society',societyId,'event','new']" >Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/show','society',societyId ,'myevents']">My Events</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['/show','upcomingevents']">Upcoming Events</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" (click)="onLogout()">Sign out <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                  </ul>
                  </div>
                  <div *ngIf="authService.object() === 'user'">
                    <ul class="navbar-nav mainMenu justify-content-left">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/user'+'/myeventsuser']">My Events</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['/user'+'/upcomingevents']">Upcoming Events</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link"(click)="onLogout()">Sign out <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                  </ul>
                  </div>
          </div>
      </div>
  </nav>

  <!-- <li class="nav-item" *ngIf="object === 'user'">
      <a class="nav-link" [routerLink]="['/user','/mysocities']">My Societies</a>
  </li>
  <li class="nav-item" *ngIf="object === 'society'">
      <a class="nav-link" [routerLink]="['/society','/mymembers']">My Members</a>
  </li> -->
