<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Overview</h1>
      <p>Our Aim:-
Our Aim is to create a website where events and its participants come together. This website will empower societies and organisations to create websites for upcoming events and at the same time allow users signed up with us to know about the events. This gives the organisation complete control over the website without involving third parties. The progressive component of our web app will ensure that notifications about upcoming events reach all our users, so that no willing participant is left out.
</p>
  <p>Our Motivation:
  The motivation behind our idea is making creation of event websites a ‘Cakewalk’ ​and spreading awareness about them. This can be achieved through understanding the key concepts namely Event Marketing Timeline​, Online Community Building ​and Progressive Web ​Application​. Finally, who doesn’t want to create a website on the fly without learning the required coding skills</p>
    </div>
  </div>
</div>
