<div class="container-fluid mt-5 mb-3 pt-3 pb-3 fullhow">
    <ul class="container-fluid timeline mt-3" id="timelist">
        <li class="container-fluid pt-2 pb-2 mb-5 d-flex eventschedule text-left">
            <div class="container-fluid p-0 dot text-left">
                <i class="fa fa-circle" style="color: #5bc0de;" aria-hidden="true"></i>
            </div>
            <p class="h5 subhead mb-3 text-left">Sign in to EWAC</p>
        </li>
        <li class="container-fluid pt-2 pb-2 mb-5 d-flex eventschedule text-left">
            <div class="container-fluid p-0 dot text-left">
                <i class="fa fa-circle" style="color: #5bc0de;" aria-hidden="true"></i>
            </div>
            <p class="h5 subhead mb-3 text-left">Click on create button in the navbar</p>
        </li>
        <li class="container-fluid pt-2 pb-2 mb-5 d-flex eventschedule text-left">
            <div class="container-fluid p-0 dot text-left">
                <i class="fa fa-circle" style="color: #5bc0de;" aria-hidden="true"></i>
            </div>
            <p class="h5 subhead mb-3 text-left">Fill out the form</p>
        </li>
        <li class="container-fluid pt-2 pb-2 mb-5 d-flex eventschedule text-left">
            <div class="container-fluid p-0 dot text-left">
                <i class="fa fa-circle" style="color: #5bc0de;" aria-hidden="true"></i>
            </div>
            <p class="h5 subhead mb-3 text-left">Get your events website</p>
        </li>
    </ul>
    <img src="https://image.ibb.co/h1NAbS/oie_3w_C3x_Lp_QS2_O6.png" class="clipimg">
</div>
