<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form [formGroup]="societySignupForm" (ngSubmit)="onSubmit()">

        <div formGroupName="important">

          <div class="form-group" [ngClass]="{'has-success':societynameVal,'has-danger':!societynameVal}">
            <label for="inputSuccess1">Society Name</label>
            <input type="text" class="form-control" id="inputSuccess1" placeholder="Pick a societyname" formControlName="societyname">
            <p class="help-block" *ngIf="societySignupForm.get('important.societyname').touched && !societynameVal">
              This field cannot be left empty!
            </p>
          </div>

          <div class="form-group" [ngClass]="{'has-success':emailIsValid,'has-danger':!emailIsValid}">
            <label for="exampleInputEmail1">Primary Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="events@example.com" formControlName="email">
            <p class="help-block" *ngIf="societySignupForm.get('important.email').touched">
              <span *ngIf="!emailVal">
                  This field cannot be left empty!
                </span>
                <span *ngIf="!emailIsValid && emailVal">
                Please enter a valid email address!
                  </span>
            </p>
          </div>

          <div class="form-group" [ngClass]="{'has-success':passwordVal,'has-danger':!passwordVal}">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
            <p class="help-block" *ngIf="societySignupForm.get('important.password').touched && !passwordVal">
              <!-- <span *ngIf="passwordVal"> -->
              This field cannot be left empty!
              <!-- </span> -->
            </p>
          </div>
        </div>

        <div formGroupName="additional">


          <div class="form-group"[ngClass]="{'has-success':descriptionVal,'has-warning':!descriptionVal}">
            <label for="exampleTextarea">Description</label>
            <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="A little something about you" formControlName="description"></textarea>
            <p class="help-block" *ngIf="societySignupForm.get('additional.description').touched && !descriptionVal">
              <!-- <span *ngIf="passwordVal"> -->
              You may want to fill in this field!
              <!-- </span> -->
            </p>
          </div>
        </div>


        <button type="submit" class="btn btn-primary" [disabled]="!societySignupForm.valid">Submit</button>

      </form>
      <button class="btn btn-primary" type="button" (click)="toggle.falsifyUp()">Back</button>
    </div>
  </div>
</div>
