<p> EWAC was made so that there can be a bridge between the communities or the people who want to spread information and the audience that they are catering .</p>

<p>Often we find that we are not able to information or notification of events etc at the right time, and sometimes not able to get it at all due to inaccessibility or poor User Interface or cluttering in the website etc.</p>

<p>We wish to provide a user friendly, mobile compatible platform that can effectively connect the societies or communities and the people who are part of them to  create a way to easily and effectively communicate between them .
Hence , promoting more participation in educational activities. Also progressively developing the site to keep it adaptable .</p>

<p>We aim to reduce the third party in influence in building websites and alongside provide an easy platform for communities or socities to register and spread information efictively.</p>

<p>We sincerely hope that you enjoy our product.</p>
<p>Regards,</p>
<p>Arjun Dhawan + contact<br>
Rohan Wadhawan + contact<br>
Tanuj Drall + contact</p>
</p>
